In [12]:
import pandas as pd

# reading csv file 
df = pd.read_csv(r"D:\Python_cat\people_data.csv") 

df

,First Name,Last Name,Sex,Email,Date of birth,Job Title
0,Shelby,Terrell,Male,elijah57@example.net,10/26/1945,Games developer
1,Phillip,Summers,Female,bethany14@example.com,3/24/1910,Phytotherapist
2,Kristine,Travis,Male,bthompson@example.com,7/2/1992,Homeopath
3,Yesenia,Martinez,Male,kaitlinkaiser@example.com,8/3/2017,Market researcher
4,Lori,Todd,Male,buchananmanuel@example.net,12/1/1938,Veterinary surgeon

In [13]:
df = pd.read_csv("D:\Python_cat\people_data.csv", usecols=["First Name", "Email"])
print(df)

  First Name                       Email
0     Shelby        elijah57@example.net
1    Phillip       bethany14@example.com
2   Kristine       bthompson@example.com
3    Yesenia   kaitlinkaiser@example.com
4       Lori  buchananmanuel@example.net

In [14]:
df = pd.read_csv("D:\Python_cat\people_data.csv", index_col="First Name")
print(df)

           Last Name     Sex                       Email Date of birth  \
First Name
Shelby       Terrell    Male        elijah57@example.net    10/26/1945
Phillip      Summers  Female       bethany14@example.com     3/24/1910
Kristine      Travis    Male       bthompson@example.com      7/2/1992
Yesenia     Martinez    Male   kaitlinkaiser@example.com      8/3/2017
Lori            Todd    Male  buchananmanuel@example.net     12/1/1938

                     Job Title
First Name
Shelby         Games developer
Phillip         Phytotherapist
Kristine             Homeopath
Yesenia      Market researcher
Lori        Veterinary surgeon

In [15]:
df = pd.read_csv("D:\Python_cat\people_data.csv", na_values=["N/A", "Unknown"])